@import './base.css';

html { 
  height: 100%; 
  scrollbar-gutter: stable;
}

strong {
  font-weight: 700;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

/* for small devices */
@media (max-width: 767px) {
  sidebar {
    position: absolute;
    top: 0;
  }
}
/* for medium devices */
@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
