
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root {
  --orange: #E9724C;
  --beige: #FDF1D8;
  --soft-white: #FFFFFA;
  --black: #000;
  --soft-black: #242424;
}

body {
  background-color: var(--orange);
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  overflow: auto;
  font-family: "Averia Serif Libre", serif;
  font-weight: 200;
  /* font-style: normal; */
  font-size: 1em;
  color: var(--soft-black);
  line-height: normal;

}

html { 
  height: 100%; 
  scrollbar-gutter: stable;
 
  /* scrollbar-width: thin; */
}

.grid{
  margin: 0;
  padding: 0;
  /* min-height: 100%; */
  display: grid;
  grid-template: 
    "sidebar gallery"
    "footer footer";
    /* "footer gallery" ; */
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr 40px;
  /* grid-column-gap: 1em; */
  /* grid-template-columns: 20vw 70vw; */
  width: 98lvw;
  /* height: 100vh; */
}
  
  /* .wrapper {
    display: flex;
    justify-content: space-between;
    width:100%;
  } */

.gallery {
    grid-area: gallery;
    /* padding: 1em; */
        /* width: 70%;
  height: 200vh;
  min-height: 1000px;
  display: flex;
  flex-direction: column; */
  }

.sidebar{
  grid-area: sidebar;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: var(--soft-white);
  color: var(--soft-black);
  border-right: 10px solid var(--black);

}
.sidebar > * {
  padding: 1em;
  /* margin: 1em 0; */
  /* border-left: none; */
  /* border-radius: 0 10px 10px 0; */
}
/* .gallery-menu {
  background-color: var(--soft-white);
  color: var(--soft-black);
  height: 50vh; 
  overflow: auto;
} */
.app-title {
  background-color: var(--black);
  color: var(--soft-white);
  margin-top: 0;
  padding: 2em;
  text-align: center;
}


footer {
  grid-area: footer;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: var(--black);
  color: var(--soft-white);
  padding: 10px;

}

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
  }

  .flex-items {
    display: flex;
    /* flex: 0 1 calc(30% - .5em);  */
    /*flex-grow: 0; flex-shrink: 1; flex-basis: calc(50% - .5em); */
    /* margin-bottom: 1em; */
  }


.dnd-card{
  --card-dimension: 250px;
  height: var(--card-dimension);
  width: var(--card-dimension);
  /* 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
  /* padding: 10px; */
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--beige);
  border: 5px solid var(--black);

}
.dnd-card-test {
  display: grid;
  /* place-items:start center; */
  grid-template-columns: 30% 70%;
  grid-template-rows: 30% 60% 10%;
  grid-template-areas: 
            "img name "
            "highlight-text highlight-text "
            "source source";
  /* gap: 1em; */
}
.card-img {
  position: absolute;
  grid-area: img;
  top: 0;
  left: 0;
  width: 0.3 * var(--card-dimension);
  height: auto;
  /* border-bottom: 3px solid var(--black); */

}
.card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover; /* To ensure the image covers the container */
}

/* Tooltip container */
.tooltip {
  position: relative;
  /* display: inline-block; */
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  /* width: auto; */
  background-color: var(--soft-white);
  color: var(--soft-black);
  text-align: left;
  padding: 0.8em;

  font-size: smaller;

 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 0%;
  height: 100%;
  width: 100%;
  overflow: auto;

}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.card-header{
  grid-area: name;

  display: flex;
  place-items: middle ;
  padding: 10px;
  overflow:hidden;
  background-color: var(--black);
  color:var(--soft-white);
  border-bottom: 3px solid var(--black);

  /* margin-left: 10px; Adjust margin to accommodate image width */
}
.card-name {
  font-weight: 700;
  font-size: 1.3em;

  text-align: start;
  /* text-justify:center; */
  overflow: hidden;
  text-overflow: ellipsis; 
  /* white-space: no-wrap; */
  /* margin: 5px 0; */
}
.card-highlight{
  /* display: flex; */
    /* flex-direction: column; */
  grid-area: highlight-text;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
  text-justify: start;
  
}
span.highlighted {
  font-weight : bold;
  color:var(--orange);
}
.card-source {
  grid-area : source;
  text-align: center;
  font-style: italic;
  font-size: small;
  border-top: 3px solid var(--black);
}


.form-element {
  background-color: var(--soft-white);
  color: var(--soft-black);
  border: 3px solid var(--black);
  padding: 0.4em;
  font-family: "Averia Serif Libre", serif;
  margin: 5px 0;
  /* width: 100%; */
}

.search-input{
  
}

button {
  background-color: var(--black);
  color: var(--soft-white);
  border: 5px solid var(--black);
  padding: 0.3em;
  font-family: "Averia Serif Libre", serif;
  margin: 5px;

}

button:hover {
  cursor: pointer;
  /* background-color: var(--soft-white); */
  font-weight: bolder;
}