
.grid{
    display: grid;
      grid-template-columns: 20vw 70vw;
      gap: 1em;
      /* width: 100%;
      height: 100%; */
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    width:100%;
  }



.gallery {
    grid-area: 1 / 2 / 2 / 3;
    padding: 1em;;
        /* width: 70%;
  height: 200vh;
  min-height: 1000px;
  display: flex;
  flex-direction: column; */
  }

  .gallery-options {
    grid-area: 1 / 1 / 2 / 2;
    
    /* width: 25%; */
  height: 50vh; 
  /* min-height: 200px; */
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
  }

  .flex-items {
    display: flex;
    /* flex: 0 1 calc(30% - .5em);  */
    /*flex-grow: 0; flex-shrink: 1; flex-basis: calc(50% - .5em); */
    /* margin-bottom: 1em; */
  }


.dnd-card{
  border: 2px solid;
  height: 250px;
  width: 250px;
  /* 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; */
  padding: 10px;
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.dnd-card-test {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 40% 60%;
  grid-template-areas: 
            "a b "
            "c c ";
  /* gap: 1em; */
}
.card-img {
  position: absolute;
  grid-area: 1/1/1/1;

  top: 0;
  left: 0;
  width: 100px;
  height: auto;
}
.card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover; /* To ensure the image covers the container */
}
.card-header{
  grid-area: 1 / 2 / 1 / 2;

  /* display: flex; */
  /* padding: 20px; */
  margin-left: 10px; /* Adjust margin to accommodate image width */
}
.card-content{
  /* display: flex; */
    /* flex-direction: column; */

  padding: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
span.highlighted {
  font-weight : bold;
}
.source {
  font-style: italic;
  /* grid-area : 3 / 1 / 3 / 3; */
}
.name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.highlight {
  overflow: hidden;
  text-overflow: ellipsis;
  grid-area: 2 / 1 / 2 / 2;

}